<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/nav-header :: site-user"></div>
<h1 th:text="${'User info for user id: ' + dbUserId}"></h1>
<div th:replace="/fragments/error-fragment :: user-error"></div>

<form th:action="${'/users/' + dbUserId}" th:method="put">
  <label>Username</label>
  <input th:value="${dbUserUsername}" type="text" name="username"
         th:disabled="${!username.equals(dbUserUsername)}">

  <label>First Name</label>
  <input th:value="${dbUserFirstName}" type="text" name="firstName"
         th:disabled="${!username.equals(dbUserUsername)}">

  <label>Last Name</label>
  <input th:value="${dbUserLastName}" type="text" name="lastName"
         th:disabled="${!username.equals(dbUserUsername)}">

  <label>Date of Birth</label>
  <input th:value="${dbUserDateOfBirth}" type="number" name="dateOfBirth"
         th:disabled="${!username.equals(dbUserUsername)}">

  <label>Bio</label>
  <input th:value="${dbUserBio}" type="text" name="bio"
         th:disabled="${!username.equals(dbUserUsername)}">

  <input th:if="${username.equals(dbUserUsername)}" type="submit"
         value="Edit User Info">
</form>

</body>
</html>